 <!--===== SIDEBAR STARTS=======-->
 <div class="header-site-icon">
    <div class="slide-bar slide-bar1" [class.show]="isSidebarVisible">
      <div class="sidebar-info">
        <div class="sidebar-logo">
          <a routerLink="/index">
            <img src="assets/img/logo/logo2.png" alt="logo">
          </a>
          <div class="close-mobile-menu">
            <a><i class="fa-solid fa-xmark"></i></a>
          </div>
        </div>
        <div class="sidebar-content">
          <ul>
            <li><a href="#list-item-1">Home</a></li>
            <li><a href="#list-item-2">About Us</a></li>
            <li><a href="#list-item-3">service</a></li>
            <li><a href="#list-item-4">Skill</a></li>
            <li><a href="#list-item-5">Portfolio</a></li>
            <li><a href="#list-item-6">Testimonial</a></li>
            <li><a href="#list-item-7">Blogs</a></li>
            <li><a href="#list-item-8">Contact</a></li>
          </ul>
        </div>
        <div class="space32"></div>
        <div class="space16"></div>
        <div class="btn-area">
          <a href="contact" class="vl-btn1">Get in touch now <img src="assets/img/icons/mail1.svg" alt=""></a>
        </div>
        <div class="space40"></div>
        <div class="social-link-area">
          <h3 class="sidebar-heading">Social Links</h3>
          <ul>
            <li>
              <a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a>
              <a href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a>
              <a href="javascript:void(0);"><i class="fa-brands fa-pinterest-p"></i></a>
              <a href="javascript:void(0);"><i class="fa-brands fa-youtube"></i></a>
            </li>
          </ul>
        </div>
        <div class="space40"></div>
        <div class="form-area">
          <h3>Subscribe To Newsletter</h3>
          <form>
            <input type="text" placeholder="Email Address*">
            <button type="submit" class="vl-btn1">subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--===== SIDEBAR ENDS STARTS=======-->

  <!--=====HEADER START=======-->
  <header>
    <div class="header-area homepage1 preview header header-sticky " id="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="header-elements">
              <div class="site-logo">
                <a routerLink="/index"><img src="assets/img/logo/logo1.png" alt=""></a>
              </div>
              <div class="btn-area m-0 d-block">
                <div class="theme-toggle-container d-none">
                  <label class="theme-switch">
                    <input type="checkbox" id="theme-toggle">
                    <span class="slider">
                      <i class="fas fa-moon icon moon-icon"></i>
                      <i class="fas fa-sun icon sun-icon"></i>
                    </span>
                  </label>
                </div>
                <a href="javascript:void(0);" class="vl-btn1 d-md-block d-none">PURCHASE NOW <span><img src="assets/img/icons/purchase.svg" alt=""></span></a>
                <button class="hamburger_menu d-md-none d-block"  (click)="toggleSidebar()"><img src="assets/img/icons/bars-icons1.svg" alt=""></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--=====HEADER END =======-->

  <!--===== MAIN AREA STARTS =======-->
  <div class="preview-header-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 m-auto">
          <div class="heading1 text-center">
            <h5>VERSION 1.0</h5>
            <div class="space20"></div>
            <h2 class="head" data-aos="fade-up" data-aos-duration="1000">Personal Portfolio <span>One Page</span> HTML5 Template </h2>
          </div>
          <div class="space80 d-lg-block d-none"></div>
          <div class="space40 d-lg-none d-block"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 m-auto">
          <div class="images-area" data-aos="fade-up" data-aos-duration="1000">
            <div class="img1">
              <a routerLink="/index" target="_blank">
                <img src="assets/img/all-images/hero/preview-img1.png" alt="">
              </a>
            </div>
            <div class="space32"></div>
            <div class="text text-center">
              <a routerLink="/index" target="_blank">Main Demo</a>
            </div>
          </div>
          <div class="space100 d-lg-block d-none"></div>
          <div class="space50 d-lg-none d-block"></div>
          <div class="row">
            <div class="col-lg-6" data-aos="fade-right" data-aos-duration="1000">
              <div class="images-area2">
                <div class="img1">
                  <a routerLink="/index-2" target="_blank">
                    <video muted="" autoplay="" loop="">
                      <source src="assets/img/video/video1.mp4" type="video/mp4">
                    </video>
                  </a>
                </div>
                <div class="btn-area1">
                  <a routerLink="/index-2" target="_blank" class="vl-btn1 m-0">VIEW DEMO</a>
                </div>
                <div class="space32"></div>
                <div class="text text-center">
                  <a routerLink="/index-2" target="_blank">Water Effect</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6" data-aos="fade-left" data-aos-duration="1000">
              <div class="images-area2">
                <div class="img1">
                  <a routerLink="/index3" target="_blank">
                    <video muted="" autoplay="" loop="">
                      <source src="assets/img/video/video2.mp4" type="video/mp4">
                    </video>
                  </a>
                </div>
                <div class="btn-area1">
                  <a routerLink="/index-3" target="_blank" class="vl-btn1 m-0">VIEW DEMO</a>
                </div>
                <div class="space32"></div>
                <div class="text text-center">
                  <a routerLink="/index-3" target="_blank">Particles Effect</a>
                </div>
              </div>
            </div>

            <div class="col-lg-6" data-aos="fade-right" data-aos-duration="1000">
              <div class="images-area2">
                <div class="img1">
                  <a routerLink="/index-4" target="_blank">
                    <video muted="" autoplay="" loop="">
                      <source src="assets/img/video/video3.mp4" type="video/mp4">
                    </video>
                  </a>
                </div>
                <div class="btn-area1">
                  <a routerLink="/index-4" target="_blank" class="vl-btn1 m-0">VIEW DEMO</a>
                </div>
                <div class="space32"></div>
                <div class="text text-center">
                  <a routerLink="/index-4" target="_blank">Noise Effect</a>
                </div>
              </div>
            </div>

            <div class="col-lg-6" data-aos="fade-left" data-aos-duration="1000">
              <div class="images-area2">
                <div class="img1">
                  <a routerLink="/index-5" target="_blank">
                    <video muted="" autoplay="" loop="">
                      <source src="assets/img/video/video4.mp4" type="video/mp4">
                    </video>
                  </a>
                </div>
                <div class="btn-area1">
                  <a routerLink="/index-5" target="_blank" class="vl-btn1 m-0">VIEW DEMO</a>
                </div>
                <div class="space32"></div>
                <div class="text text-center">
                  <a routerLink="/index-5" target="_blank">3D Effect</a>
                </div>
              </div>
            </div>

            <div class="col-lg-6" data-aos="fade-right" data-aos-duration="1000">
              <div class="images-area2">
                <div class="img1">
                  <a routerLink="/index-6" target="_blank">
                    <video muted="" autoplay="" loop="">
                      <source src="assets/img/video/video5.mp4" type="video/mp4">
                    </video>
                  </a>
                </div>
                <div class="btn-area1">
                  <a routerLink="/index-6" target="_blank" class="vl-btn1 m-0">VIEW DEMO</a>
                </div>
                <div class="space32"></div>
                <div class="text text-center">
                  <a routerLink="/index-6" target="_blank">Earth Line Sphere</a>
                </div>
              </div>
            </div>

            <div class="col-lg-6" data-aos="fade-left" data-aos-duration="1000">
              <div class="images-area2">
                <div class="img1">
                  <a routerLink="/index-7" target="_blank">
                    <img src="assets/img/all-images/hero/preview-img2.png" alt="">
                  </a>
                </div>
                <div class="btn-area1">
                  <a routerLink="/index-7" target="_blank" class="vl-btn1 m-0">VIEW DEMO</a>
                </div>
                <div class="space32"></div>
                <div class="text text-center">
                  <a routerLink="/index-7" target="_blank">Solid Color</a>
                </div>
              </div>
            </div>
          </div>
          <div class="space30"></div>
          <div class="footer-area2">
            <p class="text-center">© {{year}} OVRO. All Rights Reserved.</p>
          </div>
          <div class="space32"></div>
        </div>
      </div>
    </div>
  </div>
  <!--===== MAIN AREA STARTS =======-->

  <!--===== POPUP STARTS=======-->
  <div class="custom-model-main">
    <div class="custom-model-inner">
      <div class="close-btn">×</div>
      <div class="custom-model-wrap">
        <div class="pop-up-content-wrap">
          <div class="row">
            <div class="col-lg-12">
              <div class="opend-section">
                <div class="row">
                  <div class="col-lg-7">
                    <div class="boxes-area">
                      <div class="img1">
                        <img src="assets/img/all-images/portfolio/portfolio-img1.png" alt="">
                      </div>
                      <div class="content">
                        <div class="tags-area">
                          <a href="javascript:void(0);">23 April 2024</a>
                          <a href="javascript:void(0);">Alex Ross</a>
                        </div>
                        <a href="javascript:void(0);">Følg med på dine rangeringer i Google – helt automatisk</a>
                        <p>For å lykkes med søkemotoroptimalisering er det viktig å vite hvor nettsiden din ligger i søkeresultatene. Med vårt analyseverktøy kan du enkelt holde oversikt over hvilke plasseringer du har på utvalgte søkeord – både nasjonalt og lokalt.

                          Systemet sjekker rangeringene dine daglig og gir deg oversikt over:
                          
                          Hvordan du rangerer på utvalgte søkeord i Google
                          
                          Hvilke sider som presterer best
                          
                          Utvikling over tid, slik at du ser fremgang eller nedgang
                          
                          Hvilke søkeord som trenger forbedring
                          
                          Resultatene vises i et brukervennlig panel, slik at du alltid har kontroll – uten behov for teknisk kunnskap. Du kan følge med på konkrete tall, grafer og endringer – og bruke denne innsikten til å forbedre synligheten din i søk.
                          
                          Dette er et viktig verktøy for alle som vil ha bedre synlighet i Google, og gir deg en tydelig indikasjon på hvordan din SEO-innsats gir resultater.</p>
                        <div class="btn-area1">
                          <a href="contact" class="vl-btn1">VIS SEO live-rengering panelet</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-5">
                    <div class="contact-from-area" data-aos="flip-right" data-aos-duration="1000">
                      <h3>Leave A Message</h3>
                      <form action="https://api.web3forms.com/submit" method="POST">
                        <input type="hidden" name="access_key" value="0cd32fff-eda2-4da3-be43-37d47fbb396b">

                        <div class="input">
                          <input type="text" placeholder="Full Name">
                        </div>
                        <div class="input">
                          <input type="number" placeholder="Phone Number" required>
                        </div>
                        <div class="input">
                          <input type="email" placeholder="Email Address" required>
                        </div>
                        <div class="input">
                          <select name="country" id="country" class="country-area nice-select6">
                            <option value="1" data-display="Service Type">Service Type</option>
                            <option value="">Belgium</option>
                            <option value="">Brezil</option>
                            <option value="">Argentina</option>
                            <option value="">Bangladesh</option>
                            <option value="">Germany</option>
                          </select>
                        </div>
                        <div class="input">
                          <textarea placeholder="Message" required></textarea>
                        </div>
                        <div class="space32"></div>
                        <div class="btn-area text-end" data-aos="fade-up" data-aos-duration="1200">
                          <button type="submit" class="vl-btn1">Send</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-overlay"></div>
  </div>