$fonts-size:(
    'font-size':(
        'font-s10':10px,
        'font-s12':12px,
        'font-s14':14px,
        'font-s16':16px,
        'font-s18':18px,
        'font-s20':20px,
        'font-s22':22px,
        'font-s24':24px,
        'font-s26':26px,
        'font-s28':28px,
        'font-s30':30px,
        'font-s32':32px,
        'font-s34':34px,
        'font-s36':36px,
        'font-s38':38px,
        'font-s40':40px,
        'font-s42':42px,
        'font-s44':44px,
        'font-s46':46px,
        'font-s48':48px,
        'font-s50':50px,
        'font-s52':52px,
        'font-s54':54px,
        'font-s56':56px,
        'font-s58':58px,
        'font-s60':60px,
        'font-s62':62px,
        'font-s64':64px,
        'font-s66':66px,
        'font-s68':68px,
        'font-s70':70px,
        'font-s80':80px,
    )

);

$fontsweight:(
    'weight':(
        'regular':400,
        'medium':500,
        'semibold':600,
        'bold':700,
        'black':800,
    )
);


$fontsfamily:(
    'family':(
        'font1':"'Figtree', sans-serif",
        'font2':"'Playfair Display', serif",
    )
);
