@use '../../utils/' as * ;

/*============= SKILL CSS AREA ENDS ===============*/
.skill-section-area{
    position: relative;
    z-index: 1;
    .skill-boxarea {
        position: relative;
        z-index: 1;
        background: var(--ztc-bg-bg2);
        border: 1px solid var(--ztc-border-border-2);
        border-radius: 8px;
        padding: 24px;
        transition: all .4s;
        text-align: center;
        margin-bottom: 20px;
        &:hover {
            border: 1px solid var(--ztc-bg-btn-bg1);
            transition: all .4s;
            transform: translateY(-5px);
        }
        .icons {
            height: 100px;
            width: 100px;
            display: inline-block;
            transition: all .4s;
            border-radius: 8px;
            text-align: center;
            line-height: 100px;
            background: rgba(255, 255, 255, 0.10);
            backdrop-filter: blur(100px);
        }
        h3 {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s32);
            font-style: normal;
            font-weight: var(--ztc-weight-semibold);
            line-height: 32px;      
        }
        p {
            color: var(--ztc-text-text-1);
            text-align: center;
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s16);
            font-style: normal;
            font-weight: var(--ztc-weight-medium);
            line-height: 16px;   
        }
    }
}
/*============= SKILL CSS AREA ENDS ===============*/